body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0
}

ul {
  display: inline-flex;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
}

.btnLogin {
  float: right;
  margin: -60px 30px 0 0;
  border: none;
  background-color: rgb(66, 73, 100);
  padding: 10px;
  width: 70px;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.btnLogin:hover {
  background-color: rgba(66, 73, 100, 0.808);
}

.title {
  margin-top: 40px;
}

.navlink {
  color: white;
  font-weight: 600;
}

.navBar {
  background-color: rgb(109, 122, 177);
  padding: 30px;
}