body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0
}

ul {
  display: inline-flex;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
}

.btnLogin {
  float: right;
  margin: -10px 40px 0 0;
  border: none;
  background-color: rgb(66, 73, 100);
  padding: 10px;
  width: 70px;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.btnLogin:hover {
  background-color: rgba(66, 73, 100, 0.808);
}

.title {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.navlink {
  color: white;
  font-weight: 600;
}

.navBar {
  background-color: rgb(109, 122, 177);
  padding: 30px;
}

img {
  width: 240px;
  height: 240px;
}

.item-title{
  width: 240px;
  height: 70px;
  text-align: center;
}

.cards {
    display: inline-table;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 20px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
}

.homepage {
  margin: 0 100px 80px 100px;
}

.ldivForm {
  display: block;
  text-align: center;
}

.form {
  text-align: center;
  font-size: 13px;
  color: red;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.inputTxt {
  padding: 10px;
  width: 240px;
  margin: 5px 0;
}

.loginBtn {
  padding: 10px 19px;
  margin: 0 auto; 
  display: block;
  background-color: rgb(22, 180, 91);
  border: none;
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.loginBtn:hover {
  background-color: rgb(22, 150, 78);
}

.center {
  text-align: center;
  margin: 30px;
}

.divForm {
  display: block;
  text-align: center;
}

.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.inputForm {
  width: 300px;
  padding: 8px;
  margin-bottom: 30px;
}

h4{
  margin: 14px;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.row {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.row:hover { background-color: #4CAF50; }

table tr:hover {background-color: #ddd;}

table tr:nth-child(even){background-color: #f2f2f2;}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.usercontacts {
  margin: 0 200px 70px 200px;
}